*,
*::before,
*::after {
    box-sizing: border-box;
}

// Variables
$primary-color: #333333;
$secondary-color: #054c73;
$tertiary-color: #f2f5ff;
$font-family: "Montserrat", sans-serif;
$font-size-base: 16px;
$padding-base: 1rem;
$margin-base: 1rem;

// Nesting
body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: #333;
  line-height: 1.6;
  padding: 0;
  margin: 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: $padding-base;

    .button {
      background-color: $primary-color;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &-secondary {
        background-color: $secondary-color;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

//nav bar starts
nav {
  height: 7.625rem;

  .container {
    display: flex;
    justify-content: space-between;

    .navbar-brand {
      font-family: $font-family;
      font-weight: bold;
      font-size: 2.125rem;
      color: $secondary-color;
    }

    .nav-link {
      font-family: $font-family;
      font-weight: 600;
      font-size: 0.875rem;
      color: $primary-color;
    }

    #navbarNav a {
      padding: 2.2rem;
    }
  }
}

//landing image page starts

.landingImg {
  background-image: url(./Images/image1.png);
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landingDesc {
  width: 40.1875rem;
  height: 27.6875rem;
  padding: 37px 45px 41px 39px;
  border-radius: 10px;
  background-color: #dfe9f4;
  display: flex;
  align-items: center;
  margin-right: 8%;

  .firstP {
    font-family: $font-family;
    font-weight: 600;
    font-size: 1rem;
    color: $primary-color;
    letter-spacing: 3px;
  }

  h1 {
    color: $secondary-color;
    font-weight: bold;
  }

  .secondP {
    font-family: $font-family;
    font: 18px;
    font-weight: 500;
    margin-top: 20px;
  }

  button {
    background-color: $secondary-color;
    color: #fff;
    font-family: $font-family;
    font: 1rem;
    font-weight: bold;
    padding: 25px 72px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
  }
}

.landingImg {
  display: flex;
  align-items: center;
  justify-content: end;
}

//emblem strip starts

.strip {
  width: 100%;
  background-color: $tertiary-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .emblem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    i {
      margin-right: 1.5rem;
    }

    h6 {
      font-family: $font-family;
      font-weight: 600;
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    p {
      font-family: $font-family;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

//collection section starts

.collection {
  width: 100%;
  height: auto;
  background-color: #fff;

  .content {
    padding-top: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: $font-family;
      font-weight: bold;
      font-size: 2rem;
    }

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 1.25rem;
      color: $primary-color;
      margin-top: 20px;
    }
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .images {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;

    .image-one {
      width: 20rem;
      height: 27.125rem;
    }

    .image-two {
      width: 20rem;
      height: 27.125rem;
    }

    .image-three {
      width: 20rem;
      height: 27.125rem;
    }
  }
}

//beautify section starts

.beautify {
  width: 100%;
  height: auto;
  background-color: $tertiary-color;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .content {
    h1 {
      font-family: $font-family;
      font-weight: bold;
      font-size: 2rem;
    }

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 1.25rem;
      color: $primary-color;
      margin-top: 20px;
      line-height: 39px;
    }

    button {
      background-color: $secondary-color;
      color: #fff;
      font-family: $font-family;
      font: 1rem;
      font-weight: bold;
      padding: 25px 72px;
      border-radius: 50px;
      margin-top: 20px;
      cursor: pointer;
    }
  }

  .picture {

    img {
      width: auto;
      height: 500px;
      z-index: 1;
      border-radius: 4rem 0 4rem 0;
    }

    // .circle {
    //   width: 23.25rem;
    //   height: 23.25rem;
    //   background-color: #09513b;
    //   border-radius: 50%;
    //   position: absolute;
    //   top: 25%;
    //   left: 40%;
    //   z-index: 0;
    // }
  }
}

//browse starts

.browse {
  height: auto;
  width: 100%;

  .content {
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      font-family: $font-family;
      font-weight: bold;
      font-size: 2rem;
    }

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 1.25rem;
      color: $primary-color;
      margin-top: 20px;
    }
  }

  .images {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;

      img{
        width: 21rem;
        height: auto;
      }
    }

    p {
      font-family: $font-family;
      font-weight: 600;
      font-size: 1.25rem;
      color: $primary-color;
      margin-top: 30px;
    }
  }
}

//how it works starts

.howit {
  height: auto;
  width: 100%;

  .content {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      font-family: $font-family;
      font-weight: bold;
      font-size: 2rem;
    }

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 1.25rem;
      color: $primary-color;
      margin-top: 20px;
    }
  }

  .images {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      img{
        width: 21rem;
        height: auto;
      }
    }

    h6 {
      font-family: $font-family;
      font-weight: bold;
      font-size: 1.25rem;
      color: $primary-color;
      margin-top: 30px;
    }

    p {
      text-align: center;
      font-family: $font-family;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

//mailing list

.mailing {
  height: 363px;
  width: 100%;
  background-color: $tertiary-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    margin-top: 60px;

    h1 {
      font-family: $font-family;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
    }

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 1.25rem;
      color: $primary-color;
      margin-top: 20px;
      text-align: center;
    }
  }

  .contain {
    button {
      background-color: $secondary-color;
      color: #fff;
      font-family: $font-family;
      font: 1rem;
      font-weight: bold;
      border-radius: 5px;
      margin-top: 20px;
      width: 153px;
      height: 75px;
      cursor: pointer;
    }

    input {
      height: 70px;
      width: 333px;
      padding-left: 2rem;
      font-family: $font-family;
      font: 1rem;
    }
  }
}

//footer

.footer {
  height: auto;
  width: 100%;
  background-color: $secondary-color;
  color: #fff;
  display: flex;
  justify-content: space-around;

  .content{

    p {
      font-family: $font-family;
      font-weight: 400;
      font-size: 1rem;
      color: #fff;
      margin-top: 35px;
    }
  }

  h1 {
    font-family: $font-family;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .pictures {

    .images {
      margin-top: 23px;
      display: flex;
      gap: 21px;
      img {
        width: 175px;
        height: 185px;
      }
    }
  }
}


/* Targeting webkit browsers */
/* Note: This will only work in browsers that support ::-webkit-scrollbar */
/* To target Firefox, use scrollbar-width and scrollbar-color properties */
/* For Edge and IE, the approach is different and may require vendor prefixes */

/* Track */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle when dragging */
::-webkit-scrollbar-thumb:active {
  background-color: #666; /* Darker color when dragging */
}
